footer.text-center
  a.font-tertiary.font-weight-4.text-primary.link-button.box-shadow.left(href='../../it') ITALIANO
  a.font-tertiary.font-weight-4.text-primary.link-button.box-shadow.right(href='../../en') ENGLISH
